$primary: #3f51b5;
$secondary: #293680;
$tertiary: #f5f5f5;

$green: #44ce4f;
$red: #ff3b3f;
$blue: #5680e9;
$yellow: #fceb09;
$lightblue: #add8e6;
$orange: #F08221;
$gray: #62656C;
$lightGray: #f5f5f5;
$lightGrayDashboar: #f3f3f3;
